body {
    align-items: center;
    font-family: 'Roboto';
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.bold-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    margin: 8px 0;
    font-weight: bold;
}

.left {
    width: 450px;
}

.img {
    width: 400px;
    height: 200px;
}