body {
    align-items: center;
    font-family: 'Roboto';
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 75px;
}

.container {
    display: flex;
    justify-content: space-between;
    
}

.bold-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    margin: 8px 0;
    font-weight: bold;
    font-size: 15px;
}

.left {
    width: 450px;
}

.img {
    width: 400px;
    height: 200px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 75px;
    gap: 25px;
}

.header-3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 25px 0px;
}

.card {
    color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 125px;
}

.container-2{
    display: flex;
    gap: 45px;
}

.square {
    width: 115px;
    height: 115px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.section-3 {
    display: flex;
    flex-direction: column;
    padding: 75px 25%;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 75px 20%;
}

.container-3 {
    background-color: #3882F6;
    padding: 35px;
    width: 100%;
    border-radius: 7px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.cta {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
}

.button-2 {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 35px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    margin: 8px 0;
    font-weight: bold;
    font-size: 15px;
}

.footer {
    padding: 35px 0;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}